.item {
    background-color: rgb(110, 110, 182);
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    text-align: center;

    display: inline;
}

.menu-pai {
    display: flex;
    /* flex-direction: row;
    gap: 15px; */

    justify-content: left;
    height: 150px;
    background-color: rgb(236, 144, 144);
}